[Unit]
Description=openweathermap-json-to-sql
Wants=network-online.target
After=network.target network-online.target weather-stats.service

[Service]
Type=simple
User=root
ExecStart=/usr/sbin/weather_json_to_sql.py
Restart=on-failure
RestartPreventExitStatus=75

[Install]
WantedBy=multi-user.target
